.contentContainer {
    padding-left: 80px;
    padding-top: 21px;
    overflow: auto;
    height: 100%;
    max-height: calc(100vh - var(--header-height));
    // max-width: 1600px;
    // margin: auto;
}

.columnHeader {
    // margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    // height: 195px;
    height: 170px;
    margin-bottom: 24px;

    @media (max-width: 575px) {
        height: 200px;
    }

    h1 {
        margin-bottom: 1.6rem;
    }

    p {
        margin-bottom: 1.6rem;
    }
}

.columnContent {
    max-width: 397px;
    margin: auto;
}

.dropdown input {
    // height: 30px;
    // width: 266px;
    color: #AFAFB1;
    // font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: 16px;
}


.whiteBgDropdown .selectOptionsWrapper {
	background-color: white;
}
