@import '../../styles/config.scss';

.insurances,
.invoices {
	.column {
		flex: 1 auto;
		display: inline-flex;
		// padding: 0 30px;
		margin: 8px 12px;
		// height: 36px;
		// width: 80px;
		color: var(--main);
		font-size: 1.6rem;
		letter-spacing: -0.2px;
		line-height: 1.6rem;
        min-height: 32px;

        @media (max-width: 991px) {
            margin: 8px 6px;
        }

		&:first-child,
		&:last-child {
			margin: 8px 32px;

            // @media (max-width: 767px) {
            //     margin: 8px 16px;
            // }

            @media (max-width: 991px) {
                margin: 8px 6px;
            }
		}

		&.title {
			// height: 17px;
			// width: 118px;
			color: var(--grey);
			font-size: 1.4rem;
			font-weight: 500;
			line-height: 1.7rem;
		}
	}

	.col1 {
		flex: 1 1 6%;
		padding-left: 0;
		// justify-content: center;
		// flex-flow: column;
		// flex: 1 0 60px;
		// padding-left: 0;
		// display: none;
		//
		// @media (min-width: 768px) {
		//   display: flex;
		// }
	}

	.col2 {
		flex: 1 1 6%;
		padding-left: 0;
	}

	.col3 {
		flex: 1 1 10%;
		padding-left: 0;
	}

	.col4 {
		// flex: 1 1 16%;
		flex: 1 1 6%;
		padding-left: 0;
	}

	.col5 {
		flex: 1 1 10%;
		padding-left: 0;
	}

	.col6 {
		flex: 1 1 10%;
		padding-left: 0;

        @media (max-width: 767px) {
            &.icon {
                position: absolute;
                right: 10px;
                // bottom: -3px;
                top: 74px;
            }
        }
	}

	.col7 {
		flex: 1 1 10%;
		padding-left: 0;

        @media (max-width: 767px) {
            &.icon {
                position: absolute;
                right: 8px;
                top: 27px;

            }
        }

	}

	.icon {
		flex: 0 0 30px;
	}

	.icr-row {
		display: flex;
		width: 100%;
		justify-content: space-between;
		flex-flow: wrap;
		// padding: 16px 32px;
		min-height: 72px;
		padding: 30px 0 10px;
		align-items: center;

        @media (max-width: 767px) {
            position: relative;
            padding: 30px 60px 45px 8px;
        }

		.hide {
			display: none;

			button {
				padding: 0 !important;
			}
		}

		button {
			background-color: transparent!important;
			border: none!important;
		}
	}

	.exRow {
		display: flex;
		width: 100%;


	}

	.exRowTop {
		width: 100%;
		flex-wrap: wrap;
		border-radius: 8px;
		background-color: #FFFFFF;
		margin-bottom: 22px;
		box-shadow: 0 18px 60px -30px rgba(1,50,62,0.2);

    &.expanded {
      opacity: 1 !important;

      & ~ .exRowTop {
        opacity: 0.5;
      }

    }
	}

	button.moreDetails {
		// padding-left: 30px;
		// margin: 15px 0;
        padding: 0;
		cursor: pointer;
		display: block;
        height: 24px;
        width: 24px;

        &:focus {
            outline: 0;
        }

		svg g {
			stroke: var(--main) !important;
		}
	}

	.arrow {
		display: block;
		position: absolute;
		left: 0;
        right: 0;
		top: 0;
        bottom: 0;

		&.rotated {
			transform: rotate(180deg);
		}

		&.left {
			transform: rotate(90deg);
		}

		svg {
			width: 16px;
			height: auto;
		}
	}

	.moreRow {
		height: 0;
		overflow: hidden;
		flex-flow: wrap;
		border-top: 1px solid var(--faint);

		.moreContainer {
			padding: 26px 26px 40px;
			width: 100%;
			display: flex;

			.title.column {
				margin-bottom: 10px;
				margin-left: 0;
			}

			.row {
				width: 100%;
				margin-top: 36px;

				&:first-child {
					margin-top: 0;
				}
			}
		}

		&.active {
			height: auto;
			padding: 0 0 15px;
		}
	}

	.columnIn {
		display: flex;
		flex-flow: column;
		padding: 0 15px;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}

	.invoiceNumber {
		// height: 36px;
		// flex: 1 1 111px;
		// width: 111px;
		color: var(--main);
		font-size: 1.6rem;
		font-weight: 600;
		letter-spacing: -0.2px;
		line-height: 1.6rem;
	}

	.subTitle {
		font-size: 13px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.31;
		letter-spacing: normal;
		text-align: left;
		color: #7a7a7a;
		color: var(--grey);
	}

	.positionTitle {
		color: #7a7a7a;
		font-size: 13px;
	}
}

// .invoices {
//     .icr-row {
//         @media (max-width: 767px) {
//             padding: 30px 60px 45px 8px;
//         }
//     }
// }
