@import '../../styles/config.scss';

.button {
    display: inline-block;
    position: relative;
    text-align: center;
    font-weight: 400;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    margin-top: 4.5rem;
}

.button:focus,
.button:focus {
    outline: 0;
}

.mask {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0.22);
    transform-origin: 0 100%;
    transform: scaleY(0);
    transition: 200ms transform;
}
/* Mask (Hover, Active) */
.button:hover .mask,
.button:hover .mask {
    transform: scaleY(1);
}
/* Pill */
.button.pill {
    color: var(--light);
    background: var(--main);
    padding: 14px 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    // height: 56px;
    // border: 2px solid var(--main);
    border-radius: 28px;
}

.button.invertedPill {
    line-height: 22px;
    font-size: 17px;
    border-radius: 10px;
    padding: 14px 0;
    color: var(--main);
    border: 1px solid var(--main);
    background: var(--light);
}

.button.small {
    width: 200px;
}

.button.medium {
    width: 270px;
}

.button {
    &.fullWidth {
        width: 100%;
        // padding: 14px 32px;
        padding: 20px 32px;
    }

    &.fullWidthInverted {
        width: 100%;
        padding: 20px 32px;
        color: var(--main);
        border: 1px solid var(--main);
        background: transparent;
    }
}
/* Link */
.basicLink {
    color: var(--grey);
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.4px;
    line-height: 1.5rem;

    &:hover {
        opacity: 0.7;
    }
}

.basicLink .mask {
    display: none;
}
