.insurances {
    &.contentContainer {
        padding-top: 0;

        .customContainer {
            // margin-top: 33px;
            padding: 33px 16px;
            overflow: auto;
            // min-width: 1000px;
        }

        @media (max-width: 767px) {
            .customContainer {
                padding-top: 0;
                margin-top: 0;
            }
        }
    }

    .headerRow {
        // padding: 0 32px;
        position: relative;
        width: 100%;
        display: flex;
        margin-bottom: 24px;
    }
}

.mt-48 {
    margin-top: 48px;
}

button.mdc-tab {
    padding: 0;
    align-self: flex-end;
    height: 60px;
}

.entity {
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 16px;
}

.mdc-tab__content {
    // width: 77px;
    color: var(--main);
    font-family: Inter;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    letter-spacing: 0;
    // text-align: right;
}

.applyFilters {
    height: 15px;
    width: 99px;
    color: var(--red-light);
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    text-align: right;
}

.dateString {
    height: 12px;
    width: 111px;
    color: var(--main);
    font-size: 10px;
    letter-spacing: -0.13px;
    line-height: 16px;
}

.addButton {
    display: inline-block;
    text-align: center;
    line-height: 43px;
    height: 48px;
    width: 48px;
    border: 2px solid var(--main);
    border-radius: 28px;
    background-color: var(--main);
    z-index: 1;

    @media (max-width: 575px) {
        position: absolute;
        right: 15px;
        bottom: 135px;    }
}

.buttonExplanation {
    height: 17px;
    width: 140px;
    color: var(--main);
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
}

.modalContent {
    width: 100%;
    margin: auto;
    max-width: 980px;
    margin-bottom: 64px;

    h1 {
        color: var(--main);
        font-weight: 600;
        margin-bottom: 52px;

        @media (max-width: 991px) {
            margin-bottom: 32px;
        }
    }

    .modalSubHeader {
        margin-top: calc(24vh - 100px);
        display: flex;
        flex-direction: row;

        @media (max-width: 991px) {
            flex-direction: column;
            margin-bottom: 0px;
            margin-top: 52px;
        }

        @media (max-width: 575px) {
            overflow-x: auto;
        }
    }

    .modalHeader {
        display: flex;
        // position: sticky;
        top: 25px;
        // background-color: var(--grey-light);
        @media (max-width: 991px) {
            overflow-x: auto;
            flex-direction: column;
        }

        .column {
            font-size: 1.6rem;
            &:first-of-type {
                font-weight: 600;
            }
        }
    }

    .title {
        font-weight: 500;
        line-height: 17px;
        margin-bottom: 42px;

        @media (max-width: 991px) {
            margin-bottom: 30px;
        }
    }
}

.buttonLink {
    margin-top: 3rem;
    @media (max-width: 991px) {
        margin-top: 28px;
    }
}

.modalContentWarpper {
    border-radius: 8px;
    background-color: white;
    padding: 48px;


    @media (max-width: 991px) {
        padding: 32px;
    }
}

.modalNavigationContainer {
    display: flex;

    @media (max-width: 991px) {
        flex-wrap: wrap;
        .nextButton {
            order: -1;
        }
    }
}

.stepIndicator {
    margin-left: auto;

    @media (max-width: 991px) {
        margin-left: 0;
        display: flex;
        margin-bottom: 52px;

        .step {
            flex-direction: column;
            display: flex;
            margin-right: 16px;
            // &:first-child {
                //
            // }
        }
    }

}


.step {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.15px;
    line-height: 16px;
    text-transform: uppercase;

    .pill {
        margin-left: 40px;
        padding: 0;
        width: 25px;
        line-height: 25px;
        display: inline-block;
        margin-right: 7px;
        color: var(--main);
        border: 1px solid var(--main);

        @media (max-width: 991px) {
            margin: auto;
            margin-bottom: 12px;
        }
    }


    &.active .pill {
        background-color: var(--main);
        color: white;
    }
}


.pill {
    padding: 5px 15px;
    border-radius: 12px;
    height: 25px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: -0.15px;
    line-height: 1.6rem;
    color: #fff;

    &.small {
        height: 16px;
        padding: 0 8px;
        // width: 18px;
        color: #FFFFFF;
        // font-family: Inter;
        font-size: 9px;
        font-weight: 600;
        line-height: 16px;
        text-align: center;
    }

    &.large {
        height: 72px;
        width: 72px;
        border-radius: 50%;

        svg {
            width: 45px;
            height: 45px;
            margin: auto;
            top: 0;
            bottom: 0;
            position: absolute;
            left: 0;
            right: 0;
        }
    }
}

.col-12 p.labelReplacement {
    margin-top: 34px;
}

.showChildOnHover {
    .showable {
        visibility: hidden;
    }

    &:hover {
        .showable {
            visibility: visible;
        }
    }
}

.headerRow {
    @media (max-width: 767px) {
        display: none !important;
    }
}
