.invoices {
    &.contentContainer {
        //   padding-top: 0;
        //
        & > .container-fluid {
            //     // margin-top: 130px;
            //     padding: 0 47px;
            padding-top: 130px;
            //
            //     @media (max-width: 767px) {
            //         padding: 0 15px !important;
            //     }
            //
            //     @media (max-width: 991px) {
            //         padding: 0 25px !important;
            //     }
            //
        }
    }

    .headerRow {
        position: relative;
        width: 100%;
        display: flex;
        margin-bottom: 24px;
    }
}


.filterIcon {
    @media (min-width: 1400px) {
        visibility: hidden;
    }
}

.breaker {
    height: 1px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: inset 0 -1px 0 0 rgba(175,175,177,0.16);
    margin-top: 50px;
}

.paddingContainer {
    padding: 0 48px;
}

.contentContainer {
    padding-top: 0;

    & > .container-fluid {
        // margin-top: 130px;
        padding: 0 47px;
        @media (max-width: 767px) {
            padding: 0 15px !important;
        }
        @media (max-width: 991px) {
            padding: 30px 16px !important;
        }
    }
}
