@import '../../../styles/config.scss';

// .mutationContainer {
//     height: 106px;
//     // width: 397px;
//     border-radius: 8px;
//     background-color: #FFFFFF;
//     box-shadow: 0 18px 60px -30px rgba(38,50,56,0.2);
//     margin-bottom: 24px;
//     padding: 26px 24px !important;
// }

// .mutationType {
//     font-size: 1.6rem;
//     font-weight: 600;
//     letter-spacing: -0.2px;
//     line-height: 1.6rem;
// }

.state {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.7rem;
    // text-align: right;
    text-transform: uppercase;
    height: 24px;
    top: -6px;
    position: relative;

    .delayed {
        background-color: var(--red-light);
        // color: #fff;
    }

    .closed {
        width: 24px;
        height: 24px;
        padding: 4px 0;
        // color: #fff;
        background-color: var(--main);
    }

    .inactive {
    	color: var(--main-light);
        background-color: var(--grey-light);
    }

    .open {
        background-color: var(--green-light);
        // color: var(--main);
        // border: 1px solid var(--main);
    }
}

.offen {
    height: 20px;
    width: 39px;
    color: #263238;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.15px;
    line-height: 16px;
    text-align: center;
}
