@import '../../../styles/config.scss';

.mutationContainer {
    // height: 106px;
    // width: 397px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 18px 60px -30px rgba(38,50,56,0.2);
    margin-bottom: 24px;
    padding: 26px 24px !important;
    position: relative;

    @media (max-width: 575px) {
        padding-bottom: 60px !important;
    }
}

.mutationType {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: -0.2px;
    line-height: 1.6rem;
}

.bearbeiten {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.7rem;
    text-align: right;
    text-transform: uppercase;
    max-height: 20px;

    @media (max-width: 575px) {
        position: absolute !important;
        bottom: 20px;
        right: 0;
    }
}
