// @import '@material/react-tab/index.scss';
// @import '@material/react-tab-indicator/index.scss';
@import '../../node_modules/@material/react-tab/dist/tab.css';
@import '../../node_modules/@material/react-tab-indicator/dist/tab-indicator.css';
@import './bootstrap-reboot.css';
@import './typography.scss';
@import './config.scss';
@import './bootstrap.css';
@import './utilities.scss';

body {
	margin: 0;

	.sidebarLink {
		color: var(--main-light);
	}

	&.backdrop {
		.contentContainer {
			&:before {
				content: "";
				background-color: var(--grey-light);
				width: 100%;
				height: 100%;
				z-index: 1;
				position: absolute;
				opacity: 0.5;
				top: 0;
				left: 0;
			}
		}
	}

	&.login {
		background-image: url("../assets/imgs/background.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position-y: 20%;
	}

	&.cockpitPage {
		background-color: var(--grey-light);

		.sidebarLink.cockpit {
			color: var(--main);
			background-color: var(--grey-light);
			font-weight: bold;

			.iconCockpit {
				path.toggle {
					fill: var(--main) !important;
				}

				circle {
					&.toggle {
						stroke: var(--main) !important;
					}

					&.show {
						display: initial !important;
					}
				}
			}
		}
	}

	&.invoicesPage {
		background-color: var(--grey-light);

        .headerContainer .dropdown {
            @media (max-width: 767px) {
                display: none;
            }
        }

		.sidebarLink.rechnung {
			color: var(--main);
			background-color: var(--grey-light);
			font-weight: bold;

			.iconRechnung {
				color: var(--main);

				.toggle {
					// fill: var(--main) !important;
					stroke: var(--main) !important;
				}

				circle {
					&.toggle {
						stroke: var(--main) !important;
					}

					&.show {
						display: initial !important;
					}
				}
			}
		}
	}

	&.insurancesPage {
		background-color: var(--grey-light);


        .headerContainer .dropdown {
            @media (max-width: 767px) {
                display: none;
            }
        }

        .headerContainer {
            @media (max-width: 767px) {
                height: 120px;
            }
        }

		.sidebarLink.versicherte {
			background-color: var(--grey-light);
			font-weight: bold;
			color: var(--main);

			.iconVersicherte {
				path.toggle {
					stroke: var(--main) !important;
				}

				circle {
					&.toggle {
						stroke: var(--main) !important;
					}

					&.show {
						display: initial !important;
					}
				}
			}
		}
	}
}

.card {
	border-radius: 8px;
	background-color: #FFFFFF;
	box-shadow: 0 18px 60px -30px rgba(38,50,56,0.2);
	padding: 3.2rem;
	width: 100%;
	max-width: 397px;
}

.dropdown input.textMaterial {
	// padding: 5px 10px;
	cursor: pointer;
}

.bgGreenLight {
	background-color: var(--green-light) !important;
}

.invertedRed {
	border-color: var(--red-light) !important;
	color: var(--red-light) !important;
}

.ReactModal__Overlay {
	z-index: 3;
	background-color: var(--grey-light) !important;
}

.arrow {
	&.left {
		transform: rotate(180deg);
	}
}

.mdc-tab:focus {
    outline: 0
}
