.drawerContainer {
    overflow-x: hidden;
    display: inline-flex;
    flex: 1 0 auto;
    width: 0;
    transition: all 0.3s ease-out 0s;
    background-color: #FFFFFF;
    height: 100%;
    // padding-bottom: 140px;
    padding-bottom: 60px;
    padding-top: 110px;
    height: calc(100vh - var(--header-height));
    z-index: 2;

    &.opened {
        width: 335px;
        max-width: 335px;
    }

    @media (max-width: 1199px) {
        position: absolute;
        right: -335px;
        padding-bottom: 100px;
        max-height: 100vh;

        &.opened {
            right: 0;
        }
    }

    @media (max-width: 575px) {
        max-height: calc(100vh - 180px);
    }

    .drawerContent {
        // position: fixed;
        // right: 0;
        // height: 100vh;
        // padding: 120px 0;
        height: 100%;
        margin-bottom: 100px;
        width: 100%;
        min-width: 335px;
        background-color: #FFFFFF;
    }
}

body.invoicesPage .drawerContainer {
    max-height: calc(100vh - 142px);
}
