.invoicesPage, .cockpitPage {
    .headerContainer {
        @media (max-width: 575px) {
            height: 80px;
        }
    }
}

body.opened {
    .headerContainer {
        z-index: 0;
    }
}

.headerContainer {
    height: 80px;
    background-color: #fff;
    width: 100%;
    box-shadow: inset 0 -1px 0 0 rgba(175,175,177,0.16);
    padding-left: 80px;
    position: relative;
    display: flex;
    z-index: 2;

    @media (max-width: 575px) {
        padding: 0 21px;
        height: 120px;
    }


}

.headerTitle {
    color: var(--main);
    font-size: 18px;
    font-weight: 600;
    line-height: 80px;
    margin-left: 3.2rem;
    flex: 0 0 100px;

    @media (max-width: 575px) {
        margin-left: 0;
    }
}

.headerContent {
    flex: 1 0 100px;
    display: flex;
    align-content: baseline;
    justify-content: center;
    margin-left: -135px;
    @media (max-width: 767px) {
        margin-left: -100px;
    }
    // padding: 24px 0;
}

.headerAvatar {
    position: absolute;
    right: 3.2rem;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 32px;
    width: 32px;

    img {
        width: 100%;
    }
}

.username {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.2px;
    line-height: 16px;
}

.email {
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 16px;
    margin-bottom: 30px;
}
