@import '../../../styles/config.scss';

.inputLabel {
    display: block;
    position: absolute;
    top: -28px;
    width: 100%;
    // width: calc(100% - 40px);
    border: none;
}

.inputLabel {
    // padding: 15px 20px;
}
