// .backgroundImage {
// }

@media (max-width: 575px) {
    .card {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 100% !important;
        border-radius: 0 !important;
        // max-height: 64vh;
        overflow: auto;
    }

    .topCard {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 180px !important;
        padding: 10px !important;
        height: 71px;
        left: auto;
        border-radius: 8px !important;

        img {
            height: 100%;
            width: auto;
        }
    }
}


.passwordVergessenButton {
    height: 35px;
}
